^#*
auto-*
eclipse*
*.elc
elpa/
eshell/
*.cache
recentf
recentf~
request
snippets
thumbs
transient
url
vendoer
workspace
*.eld
.projectile
.lsp-session-*
.dap-breakpoints
bak/
bookmarks
network-security.data
tramp
*~
/autosave/
/persp-confs/
